@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.testPage{
  display: flex;
}

.bitcoinPage{
  display: flex;
}

.tetherPage{
  display: flex;
}

.chaturbatePage{
  display: flex;
}

.registrarBancosPage{
  display: flex;
}
.retirarPage{
  display: flex;
}

.button1 {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(#ff21bc, #b21783);
  padding: 5px 15px;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4),
    inset -5px -10px 10px #b1147d;
  margin-right: 10px;
  cursor: pointer;
  }
  
  .button2 {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #d1d0d5;
    border: 2px solid #443b78;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 0px 5px;
  }
  

  .mainContainer {
    width: calc(100vw - 120px); 
    
    


    
}

.bottomRightCard{
    
   display: none;
}

.topCard{
 height:  calc(100vh - 120px);
 }

@media  (min-width:1367px) {

  .topContainer{
    width: calc(100vw - 140px);/*Mover Logo*/ 
  }


  .topCard{
    max-width: calc(20vw - 20px); /*Manipular div principal donde estan las billeteras*/
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 130px;

  }
  
  .mainContainer {
    width: calc(109vw - 120px); 
    
}

.earning{
 
  transform: scale(1.4);
}



}




